<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
footer {
	position: fixed;
	height: 100px;
	bottom: 0;
	width: 100%;
}
</style>
</head>
<body>
  <footer class="fixed-bottom" style="background-color: #343A40" th:fragment="footer">

    <!-- <div class="col-md-2 col-lg-3 col-xl-4 mx-auto mb-5" >

          <h6 class="text-uppercase font-weight-bold" style="text-align: center">Наша компания</h6>
          <hr class="col-md-8 col-12 mt-5" style="width: 100%;">
          <p>Представляем Вам возможность работать на себя, это очень просто! Пройдите регистрацию, заполните
            профиль и начните зарабатывать уже сейчас!</p>
        </div> -->

    <div class="footer-copyright text-center py-3 text-muted">
      © 2020 Copyright: <a class="text-success" href="https://podmolot.com/"> Podmolot.com</a>
    </div>
  </footer>
  <!-- Footer -->
  <!-- <script type="text/javascript">
			if ($(document).height() <= $(window).height())
				$("footer").addClass("fixed-bottom");
		</script> -->
</body>
</html>